aws_access_key = "XXXX"
aws_secret_key = "XXXX"
aws_region = "us-east-1"
aws_azs = ["us-east-1a", "us-east-1b", "us-east-1c"]
aws_kms_key_id = "XXXX"
key_pair = "my-key-pair"
mysql_user = "root"
mysql_pass = "MySecretPassword"
mysql_database = "javaperks"
instance_size = "t3.large"
num_worker_nodes = "6"
consul_license_key = "XXXX"
consul_token = "mytoken"
vault_license_key = "XXXX"
unit_prefix = "mylab"
ldap_pass = "MySecretPassword"
git_branch = "master"
owner_email = "your.email@example.com"
vault_dl_url = "https://releases.hashicorp.com/vault/1.4.0/vault_1.4.0_linux_amd64.zip"
zoneid = ""
